AIRTABLE_TOKEN=patfEh10eMje6sACP.b76a7392aee5a154df6fa1910991097e2eeb0f61984daff39ac15d4f0d4a1ec6
AIRTABLE_BASE=appeW41fJAbVdeWoU
BASE_URL=https://airtable.com/appeW41fJAbVdeWoU/tblTMBjuWZ8BATqTj/viwApK9uDE3MjX2iU?blocks=hide
SITE_NAME=Hanamal 24
SITE_CITY=Haifa
SITE_COUNTRY=IL
CUISINE=French
